
<li class="profile-entry">
	<h3 class="profile-entry-title">
		<%= link_to skill_endorsements_create_path(skill), method: :post, remote: true  do %>
				<div class="skill-endorsement-counter" id="skill_<%= skill.id %>" >
					<%= skill.endorsements.size %>
				</div>
				<div>
					<%= skill.skill_tag.name %>
				</div>
		<% end %>
	</h3>
</li>