
<div class="title">
	<h2>You are user <%= current_user.id %> </h2>
	<h2><%= link_to 'Click here for your page ', user_path(current_user) %></h2>
</div>


<h1>All User Profiles</h1>
<% @users.each do |user| %>
	<p><%= link_to 'Click here for user ' + user.id.to_s, user_path(user) %></p>
<% end %>