<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


 Profile


My Skills
<% if @skills %>
	<ul class="profile-list" id="skills-list-added">
		<% @skills.each do |skill| %>
		<%= render :partial => "skill_list_item", :locals => 
  		{ :skill => skill} %>
		<% end %>
	</ul>
<% else %>

You have no skills
<% end %>

<% if @user==current_user %>
	<h1>Add Skill</h1>
	<ul class="profile-list" id="skills-list-not-added">
		<% @skill_tags.each do |skill_tag| %>
			<li class="profile-entry" id="skill_tag_<%= skill_tag.id %>" >
				<h3 class="profile-entry-title">
					<%= link_to skill_create_path(skill_tag), method: :post, remote: true do %>
						<span>
							<div class="skill-tag_add" >
								+
							</div>
							<div>
								<%= skill_tag.name %>
							</div>
						</span>
					<% end %>
				</h3>
			</li>
		<% end %>
	</ul>
<% end %>


