// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.skill-endorsement-counter{
	-webkit-font-smoothing: antialiased;
border-bottom-color: rgb(0, 164, 187);
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 164, 187);
border-left-style: solid;
border-left-width: 2px;
border-right-color: rgb(0, 164, 187);
border-right-style: solid;
border-right-width: 2px;
border-top-color: rgb(0, 164, 187);
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-top-style: solid;
border-top-width: 2px;
color: rgb(0, 164, 187);
cursor: pointer;
display: inline-block;
font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", ヒラギノ角ゴシック, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", Roboto, メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
font-size: 15.399999618530273px;
font-weight: 500;
height: 30px;
line-height: 30px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 4px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: center;
width: 30px;
word-wrap: break-word;
}